form{
    background-color: rgb(220, 220, 220);
    border-style: dotted;
    border-color: rgb(126, 255, 103);
}
label{
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 1px;
    text-transform: lowercase;
    text-align: center;
    border: 2px solid rgba(240, 228, 4, 0.61);
    background: rgba(255, 255, 27, 0.61);
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 2px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
}